@import "node_modules/ol/ol.css";

html, body {
  margin: 0;
  height: 100%;
  
}
#map {
  position: absolute;
  top: -10px;
  bottom: 0;
  width: 100%;
}
/* navbar settings  */
.navbar {
  background-color: #030d18;
 
  
}

.navbar-brand {
  font-size: 1.5rem;
  color: #faf9f9;
  font-weight: bold;
}
.navbar-brand:hover {
  color: rgb(240, 232, 232); /* Change to the desired hover color */
}

.form-control {
  width: 250px;
  
}

.btn-outline-success {
  margin-left: 10px;
  color: rgb(252, 252, 252);
  border-color: rgb(169, 169, 169);
}
.btn-outline-success:hover {
  background-color: rgb(99, 97, 97);
  color: rgb(252, 252, 252);
}


.custom-map {
  margin-top: 70px;
  
}
/* home button */
#homeButton {
  margin-right: 10px;
}

#homeButton img {
  width: 30px;
  height: 30px;
  filter: brightness(0) invert(1);
}

.navbar-brand {
  margin-right: auto;
}
/* basemap selector */



/* Dropdown container */
#map-controls {
  background-color: #1577da;
  color: #fff;
  padding: 0.5rem;
  border-radius: 0.25rem;
  z-index: 3; /* Ensure the dropdown appears on top */
  display: flex; /* Use flexbox */
  justify-content: flex-end; /* Align items to the right */

}





/* Dropdown select */
#basemap-select {
  width: 10%;
  background-color: #f7f4f4;
  border: 5px solid #0e1114;
  position: relative;
  left: 1725px;
  top:1%;
  
}
/* mouse poition */

#mouse-position {
  position: fixed;
  top: 93%;
  left: 97%;
  transform: translate(-50%, -50%);
}

#coordinate-display {
  padding: 10px;
  pointer-events: none;
  background-color: #030d18;
  color: #ffffff; /* White text color */
}

.label-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.label {
  margin-bottom: 10px;
  color: #ffffff; /* White text color */
}
